@using NurlaninDukani.Models.View_Model
@model HomeVm
<section>
    <div class="row"
         style="width: 80%;
      margin: 0 auto;">
        <div class="col">
            <div class="overlay-image">
                <a href="HTML/men.html">
                    <img class="image" src="./Images/img-men6.jpg" alt="Alt text" />
                    <div class="normal">
                        <div class="text">MEN</div>
                    </div>
                    <div class="hover">
                        <img class="image"
                             src="./Images/img-Nike12.jpg"
                             alt="Alt text hover" />
                        <div class="text">MEN</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="overlay-image">
                <a href="HTML/women.html">
                    <img class="image"
                         src="./Images/img-women5.jpeg"
                         alt="Alt text" />
                    <div class="normal">
                        <div class="text">WOMEN</div>
                    </div>
                    <div class="hover">
                        <img class="image"
                             src="./Images/img-women6.jpeg"
                             alt="Alt text hover" />
                        <div class="text">WOMEN</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="preview">
    <h2 align="center">Best Sellers</h2>
    <div class="row"
         style="  width: 80%;
      margin: 0 auto;">
        <figure class="item">
            <a href="HTML/info.html">
                <img src="./Images/img-Nike1.jpg" alt="" width="100%" />
                <figcaption>Nike Run +</figcaption>
            </a>
        </figure>
        <figure class="item">
            <a href="HTML/info.html">
                <img src="./Images/img-Nike3.jpg" alt="" width="100%" />
                <figcaption>Nike Air Blue</figcaption>
            </a>
        </figure>
        <figure class="item">
            <a href="HTML/info.html">
                <img src="./Images/img-Nike5.jpg" width="100%" />
                <figcaption>Casual Nike</figcaption>
            </a>
        </figure>
        <figure class="item">
            <a href="HTML/info.html">
                <img src="./Images/img-Nike10.jpg" alt="" width="100%" />
                <figcaption>Nike Air Orange</figcaption>
            </a>
        </figure>
    </div>
</section>

<h3 style="text-align: center">
    <a href="./HTML/survey.html">Click here to take a quick survey</a>
</h3>
